*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #A3CB38;
    font-family: sans-serif;
}

.logo{
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 25px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 40%;
}

@media screen and (max-width:1024px){
    .nav-links{
        width: 60%;
    }
}

.nav-links li {
    list-style: none;
}

.nav-links a{
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 15px;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}
.burger{
    display: none;
}


@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #A3CB38;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: all .6s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
        cursor: pointer;
    }
    .nav-links li a{
        font-size: 40px;
    }
    .logo{
        font-size: 50px;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

section img{
    height: auto;
    width: 100%;
}