.distortion{
    width: 640px;
    height: 920px;
    align-self: flex-end;
}

.landing{
    display: flex;
    justify-content: space-around;
    height: 100vh;
}

.intro h2{
    font-size: 50px;
}
.intro{
    align-self: center;
}
.intro p{
    font-size: 25px;
}